@media (max-width:550px) {
    .search_user {
        width: 20%;
    }

    .hidden_search {
        width: 80%;

    }

    .indexpagetxt {
        width: 90%;
    }

    .card2,
    .card7 {
        display: none;
    }

    .card {
        width: 80%;
    }

    .first5cards,
    .secondfivecards {
        justify-content: center;
    }

    .subscribe {
        width: 95%;
        grid-template-rows: 220px 230px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            " div5 div6  " " div9 div9  "
        ;
    }
    .just_added_card2 {
        display: none;
    }
    
    .just_added_card {
        width: 80%;
    
    }
    
    .justadded_cards {
        justify-content: center;
    }
    
    .vector_cards {
        justify-content: center;
    }
    .footer_contact_social{
        flex-direction: column-reverse;
      
        gap: 15px;
    }
    .footer_contact_div{
        width: 75%;
        
    }
    .socials_txts{
        width: 70%;
    }
    
    .fa-forward,.fa-backward{
        font-size: 20px;

    }
    /* CATEGORIES */
    .categories_cover{
        
        height: 450px;
    }
    @keyframes categories_cover{
        0% {
            background-image: url(../images/cover\ mobile.webp);
    
        }
    
        25% {
            background-image: url(../images/cover\ 4\ mobile.webp);
    
    
        }
    
        50% {
            background-image: url(../images/cover2mobile.avif);
    
        }
    
        75% {
            background-image: url(../images/cover\ 1\ mobile.webp);
    
    
        }
    
        100% {
            background-image: url(../images/cover\ 5\ mobile.webp);
    
        }
    
    }
    .categories_card2{
        display: none;
        
    } 
     .categories_card{
        width: 70%;
    }
    .sales_section,.jazz_section,.hiphop{
        width: 80%;
    }
    .categories_titles{
        text-align: center;
        margin-left: 0;
    }
}





