@media (max-width:950px) {
    .list {
        font-size: 25px;
    }


    .card9,
    .card4 {
        display: none;
    }

    .card {
        width: 31%;
    }

    .subscribe {
        width: 80%;
    }

    .just_added_card4 {
        display: none;
    }

    .just_added_card {
        width: 31%;
    }

    :root {

        --titlefontsize: 30px;
    }

    .about_us {
        width: 90%;
    }
}

@media (max-width:820px) {
    .fa-bars {
        display: block;
    }

    .header_nav {
        display: none;
    }

    .subscribe {
        width: 85%;
    }
    .about_us_txt{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .about_us_P{
        width: 90%;
    }

    .footer_contact_div {
        width: 30%;
    }

    .footer_logo {
        width: 100px;
    }

    .search_user {
        justify-content: center;
    }
}

@media (max-width:700px) {
    .mainlogoimg {
        width: 150px;
    }


    .card3,
    .card8 {
        display: none;
    }

    .card {
        width: 48%;
    }

    .cards {
        margin: 0 15px;
    }

    .subscribe {
        width: 90%;
        grid-template-rows: 220px 230px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "div2 div3 "
            " div5 div6  " " div9 div9  "
        ;
    }

    .div9 {
        padding: 5px;
    }

    .just_added_card3 {
        display: none;
    }

    .just_added_card {
        width: 48%;
    }

    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .footer_logo {
        display: none;

    }

    .footerlogo_hidden {
        display: block;
        
    }

    .footer_contact_social {
        align-items: flex-start;

    }

    .footer_contact_div {
        padding: 5px;
        width: 40%;

    }

}