@import url(variable.css);

.container{
    max-width: 1920px;
    width: 100%;
    margin: auto;
    padding-top: 146px;
    background-color: rgb(19, 18, 18);
}

/* header */
header{
   max-width: inherit;
    width: inherit;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px 4%;
    position: fixed;
     background-color: rgb(19, 18, 18);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset -1px -1px 7px 1px rgb(155, 33, 236);
   }
.header_ul{
    display: flex;
    gap: 100px;
}
.list{
    font-size: 25px;
    font-family: var(--listfont);
    color: beige;
}
.search{
    width: 15%;
    gap: 30px;
    display: flex;
    align-items: center;
}

.search_bar{
    width: 80%;
    border: 3px solid rgb(224, 217, 217);
    padding: 5px 5px;
    border-radius: 30px;
    color: antiquewhite;
    
    
}
.fa-magnifying-glass{
    font-size: 30px;
}
.fa-user{
    font-size: 30px;
    color: antiquewhite;
}


.list:hover{
        
    text-shadow: 1px 1px 15px cornsilk;
}
.fa-user:hover{
    text-shadow: 1px 1px 15px cornsilk; 
}
/* cover */
.cover{
    width: 75%;
    padding: 20px 3%;
    margin: auto;
    background-image: url("../images/cover.png");
    display: flex;
    align-items: center;
    gap: 100px;
     border-radius: 30px;
     margin-top: 40px;
}

.section_cover_txt{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover_title{
    font-size: 40px;
    font-family: var(--titlefont);
}
.cover_txt{
    font-size: 20px;
    font-family: var(--textfont);
    font-weight: 600;
     margin-top: 40px;
    text-align: center;
}
.shopnow{
    width: 25%;
    height: 40px;
    border: 5px solid rgb(3, 3, 3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: transparent;
   box-shadow: 5px 5px 5px 4px black;


    
}
    .shopnowtxt{
        font-size: 20px;
        font-family: var(--listfont);
        font-weight: 600;
        text-align: center;
       
    }

    /* section monthly best sellers */
  .monthybestseller_section{
    padding: 40px 4%;
  }  
  .monthlybestsell{
    font-family: var(--titlefont);
    color: beige;
    font-size: 40px;
   margin: 150px 0 50px;
  }
  .cards{
    margin: auto;
    display: flex;
    flex-direction: column;
     gap: 30px;
  }
  .first5cards,.secondfivecards{
    display: flex;
    justify-content: space-between;
    }

  .card{
    padding: 10px;
    border: 3px solid beige;
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    transition-duration: 1s;
  }
    .card_txts{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
     
     .card:hover{
        background-color: beige;
        scale: 1.1;
     }
     .card_image{
        width: 100%;
       
     }
 .best_seller_author{
    font-family: var(--titlefont);
    font-size: 20px;
    margin-bottom: 5px;
    color: rgb(19, 18, 18);
 }
 .album_name{
    font-family: var(--textfont);
    font-size: 17px;
    color: rgb(19, 18, 18);
    font-weight: 600;
 }
    
    

   
 
    
  
  