@import url(variable.css);

.container {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    padding-top: 146px;
    background-color: rgb(19, 18, 18);
}

/* header */
header {
    max-width: inherit;
    width: inherit;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px 4%;
    position: fixed;
    background-color: rgb(19, 18, 18);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 1px 1px 10px 2px rgba(236, 143, 66, 0.815), 1px 1px 10px 3px rgba(236, 143, 66, 0.815);
}

.header_ul {
    display: flex;
    gap: 100px;
}

.list {
    font-size: 25px;
    font-family: var(--listfont);
    color: beige;

}

.active {
    text-shadow: beige 1px 1px 15px;
}
.search_user{
    width: 15%;
    gap: 30px;
    display: flex;
    align-items: center;
}
.search_bar_form{
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.search_bar {
    
    width: 95%;
    border: none;
    outline: none;
    height: 30px;
border-radius: 0px 1px 1px 0px;
    
    
}
.search_button{
    height: 30px;
    padding: 5px ;
    border-radius: 0px 8px 8px 0px;
    background-color:   rgb(117, 6, 99);
}


.fa-magnifying-glass {
    font-size: 30px;
}

.fa-user {
    font-size: 30px;
    color: antiquewhite;
}


.list:hover {

    text-shadow: 1px 1px 15px cornsilk;
}

.fa-user:hover {
    filter: drop-shadow(1px 1px 5px beige);
}

/* cover */
.cover {
    width: 75%;
    height: 320px;
    padding: 20px 3%;
    margin: auto;
    background-image: linear-gradient(to bottom right, rgb(117, 6, 99), rgb(207, 148, 114));
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    border-radius: 30px;
    margin-top: 40px;
}

.section_cover_txt {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover_title {
    font-size: 40px;
    font-family: var(--titlefont);
    text-align: center;
}

.cover_txt {
    font-size: 20px;
    font-family: var(--textfont);
    font-weight: 600;
    margin-top: 40px;
    text-align: center;
}

.shopnow {
    width: 18%;
    height: 40px;
    border: 5px solid rgb(3, 3, 3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    transition-duration: 0.5s;
}


.buttont {
    
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-family: var(--listfont);
    font-weight: 600;
}

.shopnow:hover {
    background-color: rgba(245, 245, 220, .5);
}
.vinyl_img{
    width: 10%;
}


/* section monthly best sellers */
.monthybestseller_section {
    padding: 40px 4%;
}

.monthlybestsell {
    font-family: var(--titlefont);
    color: beige;
    font-size: 40px;
    margin: 60px 0 50px;
}

.cards {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.first5cards,
.secondfivecards {
    display: flex;
    justify-content: space-between;
}

.card {
    padding: 10px;
    border: 3px solid beige;
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    transition-duration: 2s;
}

.card_txts {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card:hover {
    background-color: beige;
    scale: 1.1;
}

.card_image {
    width: 100%;

}

.best_seller_author {
    font-family: var(--titlefont);
    font-size: 20px;
    margin-bottom: 5px;
    color: rgb(19, 18, 18);
}

.album_name {
    font-family: var(--textfont);
    font-size: 17px;
    color: rgb(19, 18, 18);
    font-weight: 600;
}

/* subscribe */
.subscribe{
    width: 70%;
   
    margin: 50px auto 0;
    display: grid;
     grid-template-rows:310px 250px 250px;
    grid-template-columns: 1.2fr 1fr 1fr 1fr;
    grid-template-areas: "div1 div2 div3 div4"
    "div1 div5 div6 div7 " "div8 div9 div9 div10 " 
    ;
    column-gap: 5px;

}
.section2_div{
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    border: 2px solid black;
    
}
.div1{
   
   background-image: url(../section2img/subscirebesection\ left.webp);
    grid-area: div1;
    animation-name: div1;
   
}
.div2{
    background-image:url(../section2img/1.jpg);
    grid-area: div2;
    animation-name: div2;
    
}
.div3{
    background-image: url(../section2img/2.jpg);
    
    grid-area: div3;
    animation-name: div3;
    animation-duration: 15s;
    animation-delay: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.div4{
    background-image: url(../section2img/3.jpg);
    grid-area: div4;
     
}
.div5{
    background-image: url(../section2img/4.jpg);
    grid-area: div5;
     
}
.div6{
    background-image: url(../section2img/5.jpg);
    grid-area: div6;
     
     
}
.div7{
    background-image: url(../section2img/6.jpg);
    grid-area: div7;
    
}
.div8{
    background-image: url(../section2img/7.jpg);
    grid-area: div8;
     
}
.div9{
    background-color: white;
    grid-area: div9;
    display: flex;
    align-items: center;
    justify-content: center;
     background-image: linear-gradient(red, yellow);
}
.subscribe_us{
    display: flex;
    align-items: center;
  flex-direction: column;
  gap: 20px;
}
.subscribe_us_label{
    font-size: 30px;
    font-family: var(--titlefont);
}
.subscribe_email_input{
    outline: none;
    width: 100%;
    height: 30px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 20px;
}
.subscribe_button{
    border: none;
    outline: none;
    font-size:20px;
    border-radius: 10px;
    font-family: var(--textfont);
    background-color: rgb(19, 18, 18);
    color: beige;
}
.subscribe_button:hover{
    background-color: rgba(19, 18, 18, 0.8);
    
}



.div10{
    background-image: url(../section2img/8.jpg);
   
    grid-area: div10;
    animation: div10;
     animation-duration: 15s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
     animation-direction: alternate-reverse;
}
 @keyframes div10 {
    from{
        background-image: url(../section2img/8.jpg);
        width: 0%;
       
    }
   
    to{
        background-image: url(../section2img/8.jpg);
        width: 100%;
    }
    
}

@keyframes div3 {
    from{
        background-image: url(../section2img/2.jpg);
        height: 0%;
    }
    to{
        background-image: url(../section2img/2.jpg);
        height: 100%;
    }
    
}

    
        





/* just_added */
.just_added{
    width: 80%;
    margin: auto;
}
.justadded_cards{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    
}
.justadded_title{
    font-family: var(--titlefont);
    color: beige;
    font-size: 40px;
    text-align: center;
    margin: 30px 0 30px;
}
.just_added_card{
    width: 20%;
    padding: 10px;
    background-color: beige;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-image: linear-gradient(rgb(117, 6, 99), rgb(207, 148, 114));
    border: 2px solid beige;
    
}
.justaddimg{
    width: 100%;
}
.price_fav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}   
.album_name{
    font-family: var(--textfont);
}
.price{
    font-family: var(--listfont);
    font-weight: 600;
}
.fa-heart{
    font-size: 19px;
}
.fa-heart:hover{
    
    color: red;
    }


   
    
    
